/* *{
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    background-image: url(images/backgroundheader.png   );
    background-size: cover;
    background-position: center;
    position: relative;
} */